{% load static%}
<html>
   <head>
       <style>
        .chart div {
    font: 12px sans-serif;
    background-color: #750CE8;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
       </style>
   </head>
<body>

{% for post in posts %}
<div class="chart">
    <h1>{{post.city}}</h1>
    <div style="width: 40px;">4</div>
    <div style="width: 80px;">8</div>
    <div style="width: 150px;">15</div>
    <div style="width: 160px;">16</div>
    <div style="width: 230px;">23</div>
    <div style="width: 420px;">42</div>
  </div>
{% endfor %}
  
</body>

</html>